/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.lobos_stash.clj
/resources/data
/resources/data.h2.db
/resources/data.trace.db
